.ag-theme-material {
    --ag-foreground-color: rgb(14, 100, 15);
    --ag-background-color: rgb(241, 247, 255);
    --ag-header-background-color: rgb(128, 250, 193);
    --ag-row-hover-color: rgb(100, 138, 255);
}

.green-cell {
    background-color: rgb(192, 226, 192);
}

.red-row {
    background-color: rgb(223, 196, 196);
}